.conditions{
	max-width: 596px;
	margin: 0 auto 117px;
	padding: 0 20px;
	&__title{
		color: #000;
		font-size: 30px;
		line-height: 37px;
		margin-bottom: 86px;
		text-align: center;
	}
	&__anons{
		font-size: 17px;
		line-height: 33px;
		margin-bottom: 49px;
	}
	&__list{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__item{
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 26px;
		padding-left: 45px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background-image: url("img/ok.svg");
			background-size: 100%;
			background-repeat: no-repeat;
			width: 26px;
			height: 27px;
		}
	}
	@include r(640){
		&__title{
			margin-bottom: 40px;
			text-align: left;
		}
	}
	@include r(375){
		margin-bottom: 90px;
		&__title{
			font-size: 22px;
			line-height: 26px;
		}
		&__item{
			font-size: 16px;
		}
	}
}