.partners{
	margin: 0 auto 161px;
	padding: 0 20px;
	&__title{
		color: #000;
		font-size: 30px;
		line-height: 37px;
		margin-bottom: 86px;
		text-align: center;
	}

	&__item{
		width: 100%;
		max-width: 705px;
		margin: 0 80px;
	}
	&__footer{
		text-align: center;
		margin-top: 27px;
	}
	&__link{
		color: #2182ED;
		font-size: 12px;
		line-height: 18px;
		text-decoration: none;
		border-bottom: 1px solid #2182ED;
		text-align: center;
	}
	&__img{
		margin-bottom: 38px;
		img{
			max-width: 100%;
		}
	}
	&__caption{
		display: grid;
		grid-template-columns: 140px 1fr;
		grid-template-rows: auto;
		grid-column-gap: 37px;
		grid-template-areas: "logo txt";
	}
	&__logo{
		grid-area: logo;
		img{
			max-width: 100%;
		}
	}
	&__txt{
		grid-area: txt;
	}
	&__name{
		background-color: #FECC02;
		display: inline-block;
		margin: 0;
		color: #000;
		font-size: 22px;
		line-height: 25px;
		font-weight: bold;
		padding: 7px 15px;
	}
	&__anons{
		background-color: rgba(#FECC02, .5);
		display: inline-block;
		margin: 0;
		color: #000;
		font-size: 16px;
		line-height: 19px;
		padding: 7px 15px;
	}
	@include r(1315){
		.slick-prev {
			left: 12%;
		}
		.slick-next {
			right: 12%;
		}
	}
	@include r(1180){
		.slick-prev {
			left: 6%;
		}
		.slick-next {
			right: 6%;
		}
	}
	@include r(1080){
		&__item{
			margin-bottom: 80px;
		}
		.slick-prev {
			left: 26px;
		}
		.slick-next {
			right: 26px;
		}
	}
	@include r(768){
		margin: 0 auto 61px;
		&__title{
			color: #000;
			font-size: 22px;
			line-height: 26px;
			margin-bottom: 40px;
			text-align: left;
		}
		&__item{
			width: 100%;
			max-width: 480px;
			margin: 0 40px;
		}
		&__img{
			margin-bottom: 20px;
		}
		&__logo{
			max-width: 100px;
		}
		&__name{
			font-size: 14px;
			line-height: 1;
			padding: 5px 10px;
		}
		&__anons{
			background-color: rgba(#FECC02, .5);
			display: inline-block;
			margin: 0;
			color: #000;
			font-size: 14px;
			line-height: 1;
			padding: 5px 10px;
		}
	}

	@include r(480){
		&__title{
			font-size: 18px;
			line-height: 22px;
		}
		&__caption{
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			grid-row-gap: 20px;
			grid-column-gap: 0;
			grid-template-areas: "logo" " txt";
		}
		&__item{
			width: 100%;
			max-width: 300px;
			margin: 0 40px;
		}
	}
}